/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  background-image: url("Images/Background.jpg");
  background-repeat:no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.box {
  
  max-width: 600px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
h1{
  font-size: 2.5rem;
  color: white;
  padding: 8px 0px;
  font-family: "Ubuntu";
}
#heading {
  background-color: #FF6363;
  text-align: center;
  margin-top: 130px;
  
}
#submitbtn {
  position: relative;
  left: 10px;
  min-height: 50px;
  width: 60px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #064663;
  color: #fff;
  font-size: 30px;
  padding:2px;
  border-width: 0;
  padding-top: 5px;

  
}
#submitbtn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
#submitbtn.active{
  opacity: 0.9;
  pointer-events: auto;
}
#submitbtn:active{
  transform: scale(0.93);
  
}
body{
  width: 100%;
  height: 100vh;
  
}
::selection{
  color: #fff;
  background: #ae7004;
}
.wrapper{
  max-width: 600px;
  padding: 28px 0 ;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 137px auto;
  margin-top:20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
footer {
  color: rgb(44, 24, 24);
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;;
  top: 10px;
  padding-bottom: 50px;
}
.task-input{
  height: 52px;
  padding: 0 25px;
  position: relative;
  display: flex;
}
.task-input img{
  top: 50%;
  position: absolute;
  transform: translate(17px, -50%);
}
.task-input input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid rgba(1, 23, 109, 0.518);
}
.task-input input:focus,
.task-input input.active{
  padding-left: 52px;
  border: 1px solid #086ead;
}
.task-input input::placeholder{
  color: #bfbfbf;
}
.controls, li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls{
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
  margin-top: 20px;

}

.filters span{
  margin: 0 8px;
  font-size: 19px;
  color: #444444;
  cursor: pointer;
}
.filters span:first-child{
  margin-left: 0;
}
.filters span.active{
  color: #ee903d;
}
.controls .clear-btn{
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  text-transform: uppercase;
  transition: 0.5s;
  background-image: linear-gradient(to right, #ff0044af 0%,#ee0946  100%);
}

.clear-btn:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

         


.clear-btn.active{
  opacity: 0.9;
  pointer-events: auto;
}
.clear-btn:active{
  transform: scale(0.93);
}
.task-box{
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}
.task-box.overflow{
  overflow-y: auto;
  max-height: 300px;
}
.task-box::-webkit-scrollbar{
  width: 5px;
}
.task-box::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.task-box::-webkit-scrollbar-thumb{
  background: #e6e6e6;
  border-radius: 25px;
}
.task-box .task{
  list-style: none;
  font-size: 19px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}
.task-box .task:last-child{
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.task-box .task label{
  display: flex;
  align-items: flex-start;
}
.task label input{
  margin-top: 7px;
  cursor: pointer;
  accent-color: #051b5e;
}
.task label p{
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}
.task label p.checked{
  text-decoration: line-through;
}
.task-box .settings{
  position: relative;
}
.settings :where(i, li){
  cursor: pointer;
}
.settings .task-menu{
  z-index: 10;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  transition: transform 0.2s ease;
}
.task-box .task:last-child .task-menu{
  bottom: 0;
  transform-origin: bottom right;
}
.task-box .task:first-child .task-menu{
  bottom: -65px;
  transform-origin: top right;
}
.task-menu.show{
  transform: scale(1);
}
.task-menu li{
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}
.task-menu li:last-child{
  margin-bottom: 0;
}
.settings li:hover{
  background: #f5f5f5;
}
.settings li i{
  padding-right: 8px;
}

@media (max-width: 400px) {
  body{
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span{
    margin: 0 5px;
  }
  .task-input{
    padding: 0 20px;
  }
  .controls{
    padding: 18px 20px;
  }
  .task-box{
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input{
    margin-top: 4px;
  }
  #heading{
    margin-top: 80px;
  }
}
